.right-no-bold {
  float: right;
  font-weight: 100;
  font-size: 0.95rem;

  @media (prefers-color-scheme: dark) {
    color: #D19A66;
  }
}

.test-style {
  background-color: #ffeaa7;
  color: #2d3436;
  padding: 10px;
  border: 1px dashed #d63031;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #2d3436;
    color: #dfe6e9;
    border-color: #fab1a0;
  }
}